<h1>Click a Button</h1>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% @buttons.each do |button| %>
  <%= form_tag({controller: 'clicks', action: 'create'}, method: 'post') do %>
    <div class="<%= button.name %>">
    <%= hidden_field_tag(:button_id, button.id) %>
    <%= submit_tag(button.name, class: "btn btn-large btn-primary") %>
    </div>
  <% end %>

<br />

<% end %>
<%= link_to 'New Button', new_button_path %>
