<h1>Click a Button</h1>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% @buttons.each do |button| %>
  <%= form_tag({controller: 'clicks', action: 'create'}, method: 'post', remote: 'true') do %>
    <div class="<%= button.name %>">
    <%= hidden_field_tag(:button_id, button.id) %>
    <%= submit_tag(button.name, class: "btn btn-large btn-primary") %>
    </div>
  <% end %>

<br />
<% end %>
<%= form_tag ({controller: 'buttons', action: 'display'}) do %>
  <div class='display_clicks'>
    <%= submit_tag('Graph', class: "btn btn-xlarge") %>
  </div>
<% end %>

<br />
<%= form_tag ({controller: 'buttons', action: 'clear'}) do %>
  <div class='delete_clicks'>
    <%= submit_tag('Delete Clicks', class: "btn btn-xlarge") %>
  </div>
<% end %>
